<!DOCTYPE html>
<html>
<head></head>
<body>
  <form method="POST" action="/puppy">
    Name: <input type="text" name="name">
    Breed: <input type="text" name="breed">
    <input type="submit" id="Submit">
  </form>
</body>
</html>
